body{
    background-size: cover;
    background-image: url(https://media1.giphy.com/media/zXmbOaTpbY6mA/giphy.gif ) ;
    color:rgb(255, 255, 255);

}

h1{
    font-style: oblique;
    
}

img{
    text-align: center;
    list-style-type: none;
    border-style: dotted;
    outline-style: double;
    outline-color: rgb(255, 255, 255);
    -webkit-box-shadow: 10px 10px 13px -4px rgba(212,199,19,1);
     -moz-box-shadow: 10px 10px 13px -4px rgba(212,199,19,1);
    box-shadow: 10px 10px 13px -4px rgba(212,199,19,1);
    
}
.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    
  
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    
}


.wrapper >div{
    background-color:#eee;
    padding:1em;
    background-image: linear-gradient(to bottom left, #8B0000, #6B8E23);
    -webkit-box-shadow: 10px 7px 9px -3px rgba(44,97,24,1);
    -moz-box-shadow: 10px 7px 9px -3px rgba(44,97,24,1);
    box-shadow: 10px 7px 9px -3px rgba(44,97,24,1);
}

.wrapper >div:nth-child(odd){
    background-color: #ddd;
    background-image: linear-gradient(to bottom left, #8B0000, #6B8E23);
}



ul{
    list-style-type: none;
    outline-style: double;
    outline-color: rgb(255, 255, 255);
}





.box1{

}
.box2{

}
.box3{

}
.box4{

}
